<div class="container">
    <section class="section-info">
        <div class="info-describe">
            <h1>Sua fonte diária de hidratação saudável</h1>
            <h4>Descubra onde encontrar-nos perto de você agora mesmo</h4>
            <a href="">ENCONTRAR REVENDEDOR</a>
        </div>
    </section>

    <section class="info-details">
        <div class="img-garrafoes">
            <img src="https://renagua.com.br/wp-content/uploads/2023/04/garrafoes-1024x769.webp" alt="garrafôes" srcset="https://renagua.com.br/wp-content/uploads/2023/04/garrafoes-1024x769.webp">
        </div>
        <div class="garrafoes-details">
            <h1>Diferenciais <mark id="blue">Renágua</mark> <i class="ph ph-navigation-arrow"></i></h1>

            <ul><i class="ph ph-caret-double-right"></i> Energia limpa e renovável:
                <li>Cuidamos do planeta com energia limpa e renovável em nossas operações. Assim, você faz uma escolha sustentável e contribui para a preservação do meio ambiente.</li>
            </ul>

            <ul><i class="ph ph-caret-double-right"></i> Foco na saúde e bem-estar:
                <li>Nossa água com sais minerais é ideal para quem busca saúde e bem-estar. Cada mineral é selecionado cuidadosamente para compor uma bebida equilibrada e nutritiva.</li>
            </ul>

            <ul><i class="ph ph-caret-double-right"></i> Controle de qualidade transparente:
                <li>Testes frequentes garantem a pureza da água e transparência nos processos e resultados, atendendo aos altos padrões de qualidade e segurança.</li>
            </ul>
        </div>
    </section>

     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="path-blue" d="M738,99l262-93V0H0v5.6L738,99z"></path>
    </svg>

    <section class="details-default">

        <div>
            <img class="img-default" src="https://renagua.com.br/wp-content/uploads/elementor/thumbs/Frame-1-2-q4ha59bzxcsmr4ztxa13u43seqau0az8e21wt7o22k.png" alt="">
        </div>

        <div>
            <ul class="title-default">Encontre um revendedor Renágua próximo de você!
                <li class="list-default">Ao comprar de um revendedor autorizado, você garante a pureza da água Renágua e recebe atendimento personalizado para suas necessidades. Além disso, economiza tempo e dinheiro com transporte e frete, além de ter acesso a promoções e descontos exclusivos em sua área.</li>
                <li class="list-default">Encontre agora o revendedor mais perto.</li>
            </ul>
            <a class="default-link" href="">ENCONTRAR REVENDEDOR</a>
        </div>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="svg-blue">
            <path class="path-white" d="M738,99l262-93V0H0v5.6L738,99z"></path>
    </svg>

    <section class="details-default distribuidor">

        <div>
            <img class="img-default" src="https://renagua.com.br/wp-content/uploads/elementor/thumbs/Frame-1-1-1-q4h6nwkuhr70f92uwld8t8vsfu5mhgbwtlzrrrj5vg.png" alt="">
        </div>

        <div>
            <ul class="title-default">Encontre um distribuidor Renágua e comece a revender nossos produtos em sua região!
                <li class="list-default">A Renágua oferece oportunidades para pequenos empreendedores e comércios locais aumentarem seus lucros ao oferecer água de qualidade com garantia de qualidade aos clientes.</li>
                <li class="list-default">Encontre um distribuidor Renágua para fazer parte da rede de parceiros autorizados e ofereça aos clientes uma água saudável e confiável.</li>
            </ul>
            <a class="default-link" href="">ENCONTRAR DISTRIBUIDOR</a>
        </div>

    </section>

     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="path-blue" d="M738,99l262-93V0H0v5.6L738,99z"></path>
    </svg>

    <section class="details-default m4">

        <div>
            <ul class="title-default">Seja um distribuidor Renágua e expanda sua área de atuação!
                <li class="list-default">Torne-se um distribuidor da Renágua e desfrute de vantagens exclusivas para distribuidores.</li>
                <li class="list-default">Junte-se a uma rede viva e em expansão de parceiros autorizados que oferecem água de qualidade com garantia de pureza e procedência, e aumente seus lucros distribuindo os produtos Renágua.</li>
            </ul>
        </div>

        <form action="">

            <div class="form-option">
                <input type="text" name="name" id="name" autocomplete="off" required>
                <label for="name">Nome</label>
            </div>
            <div class="form-option">
                <input type="text" name="phone" id="phone" autocomplete="off" required>
                <label for="phone">Telefone</label>
            </div>
            <div class="form-option">
                <input type="text" name="email" id="email" autocomplete="off" required>
                <label for="email">E-mail</label>
            </div>
            <div class="form-option">
                {{!-- <input type="text" name="menssage" id="menssage" autocomplete="off" required> --}}
                <textarea name="menssage" id="menssage" cols="30" rows="10" style="resize: none;" required></textarea>
                <label for="menssage">Mensagem</label>
            </div>

            <input type="submit" value="SEJA UM DISTRIBUIDOR">
        </form>
    </section>

    <section class="details-default">

        <div>
            <ul class="title-default">Sobre nós

                <li class="list-default">A Renágua é uma empresa de água adicionada de sais minerais que se dedica a oferecer aos clientes uma água pura e saudável, com garantia de qualidade e procedência desde sua fundação em 2010.</li>
                <li class="list-default">A empresa tem como missão proporcionar uma experiência única de consumo através da adição de sais naturais em sua água, com o compromisso de preservar o meio ambiente e ter responsabilidade social.</li>
            </ul>

           <img class="img-default" src="https://renagua.com.br/wp-content/uploads/2023/04/emprresa-768x555.webp" alt="">
        </div>

    </section>

</div>