<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cantinho da Beleza</title>
</head>
    
<body>
    {{>header}}

    <main>
        {{{body}}}
    </main>

    <script async src="/js/main.js"></script>
</body>
</html>