<footer id="contatos">
    <div class="footer-default">
        <img src="https://renagua.com.br/wp-content/uploads/2023/04/LOGO.png" alt="Imagem Renágua">
        <p>Qualidade, saúde e sustentabilidade.</p>
        <div class="redes-sociais">
            <a href=""><i class="ph ph-instagram-logo"></i></a>
            <a href=""><i class="ph ph-facebook-logo"></i></a>
            <a href=""><i class="ph ph-envelope-open"></i></a>
            <a href=""><i class="ph ph-phone-call"></i></a>
        </div>
    </div>

    <div class="footer-default">
        <h1>Contatos</h1>
        <div class="outras-redes">
            <a href=""><i class="ph ph-phone-call"></i> Tel: (85) 3496-5609 </i></a>
            <a href=""><i class="ph ph-envelope"></i> Email: contato@renagua.com.br</i></a>
            <a href=""><i class="ph ph-map-pin-line"></i> Rua Padre Sá Leitão, 156 | Henrique Jorge | Fortaleza - CE</i></a>
        </div>
    </div>

    <div class="footer-default">
        <h1>Links úteis</h1>
        <div class="links">
            <a href="">Início</a>
            <a href="">Sobre</a>
            <a href="">Encontrar Revendedor</a>
            <a href="">Encontrar Distribuidor</a>
            <a href="">Nossa história</a>
        </div>
    </div>

    <div class="footer-default">
        <h1>Localização</h1>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15924.976103591021!2d-38.579089!3d-3.7569730000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74bfa989a02ff%3A0x1d02c7839b5e05ee!2sRua%20Padre%20S%C3%A1%20Leit%C3%A3o%2C%20156%20-%20Henrique%20Jorge%2C%20Fortaleza%20-%20CE%2C%2060521-032%2C%20Brasil!5e0!3m2!1spt-BR!2sus!4v1685388635127!5m2!1spt-BR!2sus" style="border:0;" allowfullscreen="off" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    <div class="copy">
        <p>© RENÁGUA. CNPJ 07.546.953/0001-07. Todos os direitos reservados | Política de privacidade | Termos de uso.</p>
    </div>
</footer>

