
<header>
    <div class="control">
        <a href=""><img src="https://renagua.com.br/wp-content/uploads/2023/04/LOGO.png" alt="Logo"></a>
        <i class="ph ph-list expandmenu"></i>
    </div>

    <div class="menu">

        <a href=""><nav>Inicio</nav></a>
        <a href=""><nav>Sobre</nav></a>
        <a href=""><nav>Onde Encontrar</nav></a>
        <a href=""><nav>Nossos Contatos</nav></a>
        <a href=""><nav>Clientes</nav></a>

    </div>
</header>


