
<header>
    <div class="control">
        <a href=""><img src="https://renagua.com.br/wp-content/uploads/2023/04/LOGO.png" alt="Logo"></a>
        <i class="ph ph-list expandmenu"></i>
    </div>

    <div class="menu">

        <a href="#inicio"><nav>Inicio</nav></a>
        <a href="#sobre"><nav>Sobre</nav></a>
        <a href="#revendedor"><nav>Encontrar Revendedor</nav></a>
        <a href="#distribuidor"><nav>Encontrar Distribuidor</nav></a>
        <a href="#nossahistoria"><nav>Nossa História</nav></a>
        <a href="#contatos"><nav>Contatos</nav></a>

    </div>
</header>


